{% extends 'base.html.twig' %}

{% block title %}Audioteka{% endblock %}

{% block body %}
    <header id="head">
        <div class="container">
            <div class="row">
                <h1 class="lead">Audioteka</h1>
                <p><a class="btn btn-action btn-lg" href = "#" role="button">ZALOGUJ SIĘ</a></p>
            </div>
        </div>
    </header>
{% endblock %}