{% extends 'base.html.twig' %}

{% block title %} Audioteka {% endblock %}

{% block body %}

    <header id="head" class="secondary"></header>

    <div class="container">

        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">Gatunki</li>
        </ol>

        <div class="row">

            {% for message in app.flashes('info') %}
                <div class="alert alert-success">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}

            <!-- Article main content -->
            <article class="col-xs-12 maincontent">
                <header class="page-header">
                    <h1 class="page-title">Gatunki</h1>
                </header>
                <div id="rightSideFormSearch">
                <form id="search-form" class="pure-form pure-form-stacked">
                    <fieldset>
                        <p>  <input type="text" name = "search_genre" id = "search_genre" placeholder="Gatunek"/></p>
                        <button href = "/genre" type="submit" class="btn btn-default btn-sm">Szukaj</button>
                    </fieldset>
                </form>
        </div>

                <table id = "tableList" class="table table-striped" >
                    <thead>
                    <tr>
                        <th>Nazwa Gatunku</th>
                        <th>Opcje</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for genre in genre %}
                        <tr>
                            <td>{{ genre.genreName }}</td>
                            <div class="text-right">
                                <td>
                                    <a href="#"
                                       class="btn btn-danger btn-xs delete"
                                       data-type="genre"
                                       data-id="{{ genre.id }}">Usuń</a>
                                </td>
                            </div>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div id = "centerSide">
                    {{ knp_pagination_render(genre) }}
                </div>

            </article>

        </div>
    </div>
    <div class="top-space"></div>

{% endblock %}

{% block javascripts %}
    <script src="/js/delete.js"></script>
{% endblock %}