<nav>
    <div class="navbar navbar-inverse navbar-fixed-top headroom" id = "top" >
        <div class="container">
            <div class="navbar-header">
                <!-- Button for smallest screens -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <a class="navbar-brand	" href="generateAdminView"></a>
            </div>
            {% if is_granted('ROLE_ADMIN') %}
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav pull-right">
                    <li><a href="/author">Autorzy</a></li>
                    <li><a href="/genre">Gatunek</a></li>
                    <li><a>Albumy</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dodaj<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="author/new">Autora</a></li>
                            <li><a href="/genre/new">Gatunek</a></li>
                            <li><a>Album</a></li>
                        </ul>
                    </li>
                    <li><a href="logout">Wyloguj się</a></li>
                </ul>
            </div>
            {% elseif is_granted('ROLE_USER') %}
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav pull-right">
                    <li><a>Baza albumów</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Profil<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a>Zobacz profil</a></li>
                            <li><a>Zmień hasło</a></li>
                        </ul>
                    </li>
                    <li><a href="logout">Wyloguj się</a></li>
                </ul>
            </div>
            {% else %}
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav pull-right">
                    <li><a href="register">Rejestracja</a></li>
                    <li><a class="btn" href="login">Zaloguj się</a></li>
                </ul>
            </div>
            {% endif %}
        </div>
    </div>


</nav>